replace refreshToken if server issues a new refreshToken

#### Describe the change
Implement changing refreshToken after refreshing an access token.

> The authorization server MAY issue a new refresh token, in which case the client MUST discard the old refresh token and replace it with the new refresh token.
- [RFC6749#section-6](https://tools.ietf.org/html/rfc6749#section-6)

#### Current situation
A new refreshToken is ignored

#### Should
Implement the change of refreshTokens, according to RFC.

#### Additional context
Add any other context about the problem here.


From RFC 6749 Section 6 states: 

> The authorization server MAY issue a new refresh token, in which case
   the client MUST discard the old refresh token and replace it with the
   new refresh token.